body {
overflow:hidden; 
background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding-bottom: 20px;
}

div#container {
padding-bottom: 40px; 
}

div.card{

    height: 150px;
    border: 1px solid black;
    border-radius: 25px;
    /**margin-left: 75px;**/
    margin-top: 25px;
    background-image: url("../img/question.png");
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position: center;
    cursor: pointer;
}


div#overlay {
    position: fixed;
    /*position: absolute;*/
    display: none;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    
}

button#new-game{
    color:white;
    padding: 10px;
    height: 150px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
 
}

button#end-game {

    color:white;
    padding: 10px;
    height: 150px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
   
}

div.button-container{
    position: absolute;
    /*margin-top: 50%;*/
  top: 20%;
  left: 20%;
}

div.button-container h1{
    color:gold;
}

h1#welcome,
h3#wrong{
    color: #3D8CFF;
    text-align: center;
}

button#new-game2 {
    color:white;
    padding: 10px;
    margin-top: 15px;
    margin-left: 5px;
}